__pycache__/
/data/
/moon.sublime-*
/out/
.venv
.python_packages
*.egg-info
build/
azure_webhook/.vscode/extensions.json
azure_webhook/.vscode/launch.json
azure_webhook/.vscode/settings.json
azure_webhook/.vscode/tasks.json
